/* ---------------------- *
 *    BASE (Global) CSS   *
 * ---------------------- */

/* Global Resets & Basic Typo */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0f0f0f;
    color: #fff;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
